body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eefbfb;
    color: #123524;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

header img {
    position: absolute;
    top: -50px;
    left: 10px;
    width: 10%;
}

main {
    margin: 10% 20%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    color: #eefbfb;
    background-color: #123524;
    border-radius: 25px;
    padding: 30px 20px;
}

a {
    color: #123524;
}

footer {
    text-align: center;
}
