body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #B8BDB5;;
    color: #1c3144;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #1c3144; 
    padding: 20px;
    padding-top: 1px;
    margin: -10px;
    text-align: center;
}

header img {
    width: 10%;
    max-height: 75px;
    max-width: 75px;
    position: absolute;
    left: 10px;
    padding-top: 20px;
}

header h1 {
    color: #E0E2DB;
}

.car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

h2 {
    text-align: center; 
    flex-grow: 1; 
    color: #1c3144;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

main {
    height: 100%;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}

.crap-link {
    color: #1c3144;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: underline;
}

.about-company {
    text-align: center;
    padding: 10px;
}

.comp-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 150%;
    color: #1c3144;
}

main p {
    color: #1c3144;
    border-radius: 25px;
    text-align: left;
}

@media screen and (min-width: 768px) {
    main p {
        font-size: 20px;
    }
}

hr {
    width: 50%;
    background-color: black;
    color: black;
}

a {
    color: #E0E2DB;
}

main a {
    text-decoration: none;
    padding: 7px;
       
}

main a:hover {
    color: #000000;
}

footer {
    background-color: #1C3144;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}


footer p {
    color: #E0E2DB;
    font-size: 12px;
    opacity: 0.8;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #333;
    color: white;
    border: 1px solid #ddd;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  