/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Color Variables */
:root {
    --primary-color: #D99400; /* Golden Orange */
    --secondary-color: #BA9441; /* Dark Gold */
    --accent-color: #224082; /* Deep Blue */
    --highlight-color: #B88007; /* Muted Yellow */
    --complementary-color: #194BB5; /* Bright Blue */
    --neutral-background: #F5F5F5; /* Soft White */
    --neutral-text: #4D4D4D; /* Charcoal Gray */
}

/* General Styles */
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--neutral-background);
    color: var(--neutral-text);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

/* Typography */


h1 {
    font-family: 'Rubik', sans-serif;
    color: var(--accent-color);
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: var(--accent-color);
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    font-family: 'Rubik', sans-serif;
    color: var(--accent-color);
    margin-bottom: 10px;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--neutral-text);
    margin: 15px 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: var(--highlight-color);
}

.nav a.primary-link {
    color: var(--neutral-text);
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.primary-link:hover {
    color: var(--highlight-color);
    background-color: var(--neutral-background);
    border-radius: 3px;
}

/* Header */
header {
    background-color: lightgray;
    border: 2px solid var(--primary-color);
    color: var(--neutral-background);
    padding: 20px;
    text-align: center;
}

/* Footer */
.site-footer {
    background-color: var(--secondary-color);
    color: var(--neutral-background);
    text-align: center;
    padding: 15px 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.site-footer nav a {
    color: var(--neutral-background);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.site-footer nav a:hover {
    color: var(--highlight-color);
}

/* Buttons */
button {
    background-color: var(--complementary-color);
    color: var(--neutral-background);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: var(--primary-color);
}

/* Borders */
.border-accent {
    border: 2px solid var(--accent-color);
}

/* Image Styles */
.logo-image {
    max-width: 20%;
    height: auto;
}

/* Slideshow Styles */
.slideshow-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.slideshow img {
    width: 100%;
    display: none;
    transition: transform 0.2s ease-in-out, transform-origin 0.2s ease-in-out;
    cursor: zoom-in;
}

.slideshow img.active {
    display: block;
}

.slideshow img.active:hover {
    cursor: zoom-in;
}

.caption {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnails img {
    width: 80px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.thumbnails img.active {
    border-color: var(--primary-color);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto 0;
    width: 100%;
    max-width: 800px;
}

#prev-btn, #next-btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

#prev-btn:hover, #next-btn:hover {
    background-color: darkcyan;
}

/* Map and Calendar Styles */
.google-map, .google-calendar {
    display: block;
    margin: 0 auto; 
    width: 100%;
    border: 0;
}

.google-map {
    max-width: 600px;
    height: 450px;
}

.google-calendar {
    height: 750px;
}

/* Countdown */
.countdown-container {
    text-align: center;
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;
}

#countdown-timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }
}

/* Layout and Spacing */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.center {
    text-align: center;
}
