<p>&copy; 2024 ArkeType Apparel & Co. All Rights Reserved.</p>
<nav>
    <a href="index.html">Home</a> |
    <a href="about.html">About</a> |
    <a href="products.html">Products</a> |
    <a href="locationAndContact.html">Contact</a> |
    <a href="shows.html">Trade Shows</a>
</nav>
<p class="primary-link">Designed by <a href="https://webpages.charlotte.edu/airfan1/itis3135/irfaninc.org/" target="_blank" rel="noopener noreferrer" class="design-link">&copy;2024 Irfan Inc.,</a> - Bringing Your Ideas to Life - <a href="https://www.freecodecamp.org/certification/airfan01/javascript-algorithms-and-data-structures-v8" target="_blank">Certified in JS</a></p>