<footer>
    <h3 class="primary-link">Useful Links</h3>
    <p>Designed by <a href="https://webpages.charlotte.edu/airfan1/itis3135/irfaninc.org/" target="_blank" rel="noopener noreferrer" class="primary-link">&copy;2024 Irfan Inc.</a> - Bringing Your Ideas to Life</p>
    <a href="https://github.com/abdulirfan1" target="_blank" rel="noopener noreferrer" class="primary-link">Github.com</a> | 
    <a href="https://abdulirfan1.github.io/" target="_blank" rel="noopener noreferrer" class="primary-link">Github.io</a> | 
    <a href="https://www.linkedin.com/in/airfan1/" target="_blank" rel="noopener noreferrer" class="primary-link">LinkedIn</a>
    <p><a href="https://webpages.charlotte.edu/airfan1/itis3135/certifications.html" class="primary-link">Click Here</a> to see all certifications</p>
</footer>
