<img src="images/logo.png" alt="Personal Logo">
<h1>Abdul Irfan || Artificial Ibex || ITIS3135</h1>
    <nav>
        <a href="https://webpages.charlotte.edu/airfan1/" class="primary-link">Home</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/intro.html" class="primary-link">Introduction</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/contract.html" class="primary-link">Contract</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/about.html" class="primary-link">About</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/tables.html" class="primary-link">Tables</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/forms.html" class="primary-link">Form</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/website_evaluations.html" class="primary-link">Website Evaluations</a>

    </nav>
    <nav>
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/stuff/MYPage%20FILE%20%F0%9F%98%8A.HTM" class="primary-link">Crappy</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/project_overview.html" class="primary-link">Project Overview</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/hobby/" class="primary-link">Hobby</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/firstscripts.html" class="primary-link">First Scripts</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/byo_intro.html" class="primary-link">BYO Introduction</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/drawing.html" class="primary-link">Drawing</a>
            ||
        <a href="https://webpages.charlotte.edu/airfan1/itis3135/project" class="primary-link">Client Project</a>
    </nav>